@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*
{
	margin: 0; padding: 0;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	box-sizing: border-box;
	transition: .5s;
}

:root
{
	--color001:  #0062be;
    --color002:  #e60c2c;
    --color003:  #1e1e1e;
}

.home
{
	width: 100%;
	min-height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

header
{
	width: 100%;
	position: absolute;
	left: 0; top: 0;
	padding: 20px 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header img
{
	max-width: 80px;
}
header nav a
{
	color: #fff;
	text-transform: capitalize;
	margin: 10px;
	padding: 15px;
}
header .bx-menu
{
	display: none;
	font-size: 3rem;
	color: #fff;
	cursor: pointer;
}

.content
{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 80px;
}

.boxText
{
	width: 600px;
	color: #fff;
}
.boxText h1
{
	font-size: 5rem;
	text-transform: uppercase;
	line-height: 1;
}
.boxText h1 span
{
	font-size: 6rem;
}
.boxText p
{
	margin: 20px 0 50px 0;
}
.boxText .btn
{
	background: #fff;
	color: var(--color003);
	border-radius: 50px;
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.boxImg img
{
	max-width: 250px;
	margin-top: 50px;
}

.dots
{
	position: absolute;
	left: 0; bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}
.dots img
{
	max-width: 50px;
	margin: 20px;
	cursor: pointer;
}
.dots img.active,
.dots img:hover
{
	transform: translateY(-15px);
}

@media (max-width: 1040px)
{
	.boxText h1
	{
		font-size: 4rem;
	}
	.boxText h1 span
	{
		font-size: 5rem;
	}
}
@media (max-width: 930px)
{
	header
	{
		padding: 20px 40px;
	}

	.content
	{
		padding:  120px 40px 150px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.boxText
	{
		width: 100%;
	}
	header nav
	{
		position: absolute;
		top: 98%; left: 0;
		width: 100%;
		background: var(--color001);
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	header nav.ativo
	{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
	header nav a
	{
		display: block;
		font-size: 1.3rem;
	}
	header .bx-menu
	{
		display: initial;
	}
}
@media (max-width: 525px)
{
	header
	{
		padding: 20px 20px;
	}

	.content
	{
		padding:  120px 20px 150px;
	}

	.boxText h1
	{
		font-size: 3rem;
	}
	.boxText h1 span
	{
		font-size: 4rem;
	}
}